@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Silkscreen&display=swap');

* {
   margin: 0;
   padding: 0;
   background-color: #2C2F33;
}

.page-container{
    position: relative;
    min-height: 100vh; 
}
.logo{
    text-align: center;
    font-family: 'Silkscreen', cursive;
    font-size: 50px;
    padding: 30px;
    color: white;
}

.lottie{
    display: flex;
    justify-content: center;
    padding-top:  50px;
    height: 250px;
}

 .slogan p {
   display: flex;
   justify-content: center;
   color: white;
   padding-top: 30px;
   padding-left: 20px;
   font-size: 15px;
   font-family: 'Silkscreen', cursive;
   
}

.offer-title{
    font-family: 'Silkscreen', cursive;
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 35px;
}

.card-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
}
.card {
    width: 200px;
    height: 50px;
    background-color: #212121;
    box-shadow: 15px 15px 30px #191919,
                 -15px -15px 30px #292929;
                 display: flex;
                 justify-content: center;
                 color: white;
                 align-items: center;
                 font-family: 'Silkscreen', cursive;
                 font-size: 10px;
   }



.robot{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}


/* From uiverse.io by @Cevorob */

.button-container{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #2C2F33;
    border: 1px solid #2C2F33;
    transition: all .3s;
    box-shadow: 15px 15px 30px #191919,
    -15px -15px 30px #2C2F33;
    color: white;
    font-family: 'Silkscreen', cursive;
   }
   
   button:hover {
    border: 1px solid white;
   }
   
   button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }


  footer{
    font-family: 'Silkscreen', cursive;
    color: white;
    background-color: rebeccapurple;
    position: absolute;
    bottom: 0;
    width: 100%;
  }